<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"

    android:theme="@style/Theme.AppCompat.Light"
    package="com.example.shrey.docs">
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />



    <application
        android:allowBackup="true"
        android:icon="@drawable/s"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/s"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-6143211471954524~6965528796"
            />

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".SecondActivity"
            android:parentActivityName=".MainActivity">
        </activity>

        <activity android:name=".ThirdActivity"
            android:parentActivityName=".MainActivity">
        </activity>

        <activity android:name=".AdminActivity"
            android:parentActivityName=".MainActivity">
        </activity>

        <activity android:name=".RegisterActivity"
            android:parentActivityName=".AdminActivity">
        </activity>

        <activity android:name=".AdminEnterActivity"
            android:parentActivityName=".MainActivity">
        </activity>

        <activity android:name=".AddcenterActivity"
            android:parentActivityName=".AddActivity">
        </activity>

        <activity android:name=".AddActivity"
            android:parentActivityName=".AdminEnterActivity">
        </activity>

        <activity android:name=".SettingActivity"
            android:parentActivityName=".AdminEnterActivity">
        </activity>

        <activity android:name=".BookingActivity"
            android:parentActivityName=".AdminEnterActivity">
        </activity>



    </application>

</manifest>